<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
	      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="description" content="Cogitantium, Latin for thoughtful, is how you'll be while reading the reviews in this site">
	<title>Cogitantium | Sign In</title>
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="styles/main.css">
	<link rel="stylesheet" href="styles/signin.css">
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-135219619-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'UA-135219619-1');
	</script>
</head>
<body>
	<form id="signInForm">
		<div id="formHeader">
			<h1>Cogitantium | Sign In</h1>
		</div>
		<div id="formBody">
			<div class="formInput">
				<i class="material-icons">account_circle</i>
				<input type="text" id="name" name="name" autocomplete="off">
				<label for="name">Name</label>
			</div><br><br>
			<div class="formInput">
				<i class="material-icons">lock</i>
				<input type="password" id="password" name="password" autocomplete="off">
				<label for="password">Password</label>
			</div><br><br>
			<div class="buttons">
				<button type="button" id="forgotPassword" class="textButton">Forgot Password</button>
		        <button type="submit" id="signinButton" class="unelevatedButton">Sign in</button>
			</div>
			<p>Not registered with cogitantium yet? <a href="/signup">Sign up</a> now!</p>
		</div>
	</form>
	<div id="toast"></div>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
function showToast(message, duration = 2000) {
	$('#toast').text(message);
	$('#toast').slideDown(200, () => {
		setTimeout(() => {
			$('#toast').slideUp(200);
		}, duration);
	});
}

$('.formInput input').each(function() {
	$(this).focusin(() => {
		$('#'+this.id+' + label').animate({
			'fontSize': '0.8rem',
			'top': '-0.7rem',
			'padding': '0.25rem'
		}, 80);
	});
	$(this).focusout(function() {
		if ($(this).val() === '') {
			$('#'+this.id+' + label').animate({
				'fontSize': '1rem',
				'top': '1rem',
				'padding': 0
			}, 80);
		}
	});
});

$('form').submit((e) => {
	e.preventDefault();
	showToast('Please wait...', 5000);
	$.ajax({
		type: 'POST',
		url: '/signin',
		data: {
			name: $('#name').val(),
			password: $('#password').val()
		},
		success: (result) => {
			console.log(result);
			if (result == 'Wrong credentials') {
				showToast('Invalid credentials');
			} else {
				showToast('Success!');
				window.location.href = '/profile';
			}
		}
	});
});

$('#forgotPassword').click(() => {
	alert('Please contact Aravindan');
});
</script>
</html>
